.editor-area {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.editor-content {
    max-width: 70vw;
    max-height: 70vh;
    overflow: scroll;
}

.form-area {
    padding: 10px;
    max-width: 30%;
    overflow: hidden;
}

.form-field {
    margin: 10px;
    width: 100%;
}

.bottom-bar {    
    bottom: 0;  
    display: flex;
    margin: 10px;
    position: absolute;
}

.bottom-bar > * {
    margin: 10px;
}

.text-center {
    text-align: center;
}

.text-field {
    max-height: 10%;
}

.thumbnail {
    border: 1px solid grey;
    max-width: 80px;
    max-height: 80px;
}

